[submodule "open_exoplanet_catalogue"]
	path = open_exoplanet_catalogue
	url = git@github.com:OpenExoplanetCatalogue/open_exoplanet_catalogue.git
[submodule "oec_external"]
	path = oec_external
	url = https://github.com/OpenExoplanetCatalogue/oec_external
